[defaults]
host_key_checking = True
retry_files_enabled = False
display_args_to_stdout = False
interpreter_python = auto_silent
timeout = 30
local_tmp = /tmp/ansible-runner/local

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15 -o ServerAliveCountMax=3
